* {
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.container {
	width: 1280px;
	height: 720px;
	display: grid;
	grid-template-columns: repeat(16, 1fr);
	justify-items: stretch;
}

.item {
	background-color: aqua;
}
